<h2>商品編集</h2>
<%= form_with model: @item, url: admin_item_path, method: :patch do |f| %>
<table>
  <thead>
    <tr>
      <th>商品画像</th>
      <th><%= f.file_field :image, accept: "image/*" %></th>
    </tr>
    <tr>
      <th>商品名</th>
      <th><%= f.text_field :name %></th>
    </tr>
    <tr>
      <th>商品説明</th>
      <th><%= f.text_area :introduction %></th>
    </tr>
    <tr>
      <th>ジャンル</th>
      <th><%= f.collection_select(:genre_id, @genres, :id, :name, prompt: "--選択してください--") %></th>
    </tr>
    <tr>
      <th>税抜価格</th>
      <th><%= f.text_field :price %></th>
    </tr>
    <tr>
      <th>販売ステータス</th>
      <th><label><%= f.radio_button :is_active, true %>販売中</label></th>
      <th><label><%= f.radio_button :is_active, false %>販売停止中</label></th>
    </tr>
    <tr>
      <th><%= f.submit "変更を保存" %></th>
    </tr>
  </thead>
</table>
<% end %>