<div class="container">
  <div class="row">
    <div class="col">
      <table>
        <thead>
          <tr>
            <td>
            <h2>
              ようこそ、ながのCAKEへ!<br>
              このサイトは、ケーキ販売のECサイトになります。<br>
              会員でない方も商品の閲覧はできますが、<br>
              購入には会員登録が必要になります。
            </h2>
            </td>
          </tr>
        </thead>
      </table>
    </div>
  </div>
  <h2>新着商品</h2>
  <div class="row">
    <% @items.each do |item| %>
    <div class="col">
      <%= link_to item_path(item.id) do %>
        <%= image_tag item.get_image, size: "160x90" %>
      <% end %><br>
      <%= item.name %><br>
      ¥<%= (item.price * 1.1).floor %><br>
    </div>
    <% end %>
  </div>
  <div class="row">
    <div class="col">
      <%= link_to "全ての商品を見る >", items_path %>
    </div>
  </div>
</div>