<div class="container">
  <div class="row m-5">
    <div class="col">
      <h2><%= @customer.last_name %><%= @customer.first_name %>さんの会員詳細</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-3">
      <p>会員ID</p>
    </div>
    <div class="col-4">
      <%= @customer.id %>
    </div>
  </div>

  <div class="row">
    <div class="col-3">
      <p>氏名</p>
    </div>
    <div class="col-4">
      <%= @customer.last_name %><%= @customer.first_name %>
    </div>
  </div>

  <div class="row">
    <div class="col-3">
      <p>フリガナ</p>
    </div>
    <div class="col-4">
      <%= @customer.last_name_kana %><%= @customer.first_name_kana %>
    </div>
  </div>

  <div class="row">
    <div class="col-3">
      <p>郵便番号</p>
    </div>
    <div class="col-4">
      <%= @customer.postal_code %>
    </div>
  </div>

  <div class="row">
    <div class="col-3">
      <p>住所</p>
    </div>
    <div class="col-4">
      <%= @customer.address %>
    </div>
  </div>

  <div class="row">
    <div class="col-3">
      <p>電話番号</p>
    </div>
    <div class="col-4">
      <%= @customer.telephone_number %>
    </div>
  </div>

  <div class="row">
    <div class="col-3">
      <p>メールアドレス</p>
    </div>
    <div class="col-4">
      <%= @customer.email %>
    </div>
  </div>

  <div class="row">
    <div class="col-3">
      <p>会員ステータス</p>
    </div>
    <div class="col-4">
      <% if @customer.is_active %>
        <p class="text-success">有効</p>
      <% else %>
       <p class="text-muted">退会</p>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-3"></div>
    <div class="col-4">
      <%= link_to "編集する", edit_admin_customer_path(@customer.id), class: "btn btn-success" %>
    </div>
    <div class="col-4">
      <%= link_to "注文履歴一覧を見る", admin_path, class: "btn btn-primary" %>
    </div>
  </div>
</div>