<h2><%= @customer.last_name %><%= @customer.first_name %>さんの会員詳細</h2>

<div class="container">
  <div class="row justify-content-start">
    <div class="col-4">
      <table>
        <thead>
          <tr>
            <th>会員ID</th>
            <th><%= @customer.id %></th>
          </tr>
          <tr>
            <th>氏名</th>
            <th><%= @customer.last_name %><%= @customer.first_name %></th>
          </tr>
          <tr>
            <th>フリガナ</th>
            <th><%= @customer.last_name_kana %><%= @customer.first_name_kana %></th>
          </tr>
          <tr>
            <th>郵便番号</th>
            <th><%= @customer.postal_code %></th>
          </tr>
          <tr>
            <th>住所</th>
            <th><%= @customer.address %></th>
          </tr>
          <tr>
            <th>電話番号</th>
            <th><%= @customer.telephone_number %></th>
          </tr>
          <tr>
            <th>メールアドレス</th>
            <th><%= @customer.email %></th>
          </tr>
          <tr>
            <th>会員ステータス</th>
            <th>
              <% if @customer.is_active %>
                <p class="text-success">有効</p>
              <% else %>
        　       <p class="text-muted">退会</p>
              <% end %>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
          <!--link_toするやつたち-->
            <td><%= link_to "編集する", edit_admin_customer_path(@customer.id) %></td>
            <td>注文一覧を見る</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

