<h2>配送先編集</h2>

<div class="container">
  <div class="row">
    <div class="col-ms-6">
      <table>
        <%= form_with model: @address, url: address_path(@address.id), method: :patch do |f| %>
        <tr>
          <td>郵便番号(ハイフンなし)</td>
          <td><%= f.text_field :postal_code, class: "form-text" %></td>
        </tr>
         <tr>
           <td>住所</td>
           <td><%= f.text_field :address, class: "form-text" %></td>
         </tr>
         <tr>
           <td>宛名</td>
           <td><%= f.text_field :name, class: "form-text" %></td>
           <td><%= f.submit "変更内容を保存", class: "btn btn-success mx-5" %></td>
         </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>