<div class="container">
  <div class="row m-5">
    <div class="col">
      <h2>配送先登録 / 一覧</h2>
    </div>
  </div>
</div>

<%= form_with model: @address, url: addresses_path, method: :post, local: true do |f| %>

<div class="container">
  <div class="row">
    <div class="col-3">
      <p>郵便番号(ハイフンなし)</p>
    </div>
    <div class="col-3">
      <%= f.text_field :postal_code, class: "form-control" %>
    </div>
  </div>

  <div class="row">
    <div class="col-3">
      <p>住所</p>
    </div>
    <div class="col-6">
      <%= f.text_field :address, class: "form-control" %>
    </div>
  </div>

  <div class="row">
    <div class="col-3">
      <p>宛名</p>
    </div>
    <div class="col-3">
      <%= f.text_field :name, class: "form-control" %>
    </div>
    <div class="col-3">
      <%= f.submit "新規登録", class: "btn btn-success" %>
    </div>
  </div>

  <!--配送先一覧-->
  <div class="row mt-5">
    <div class="col">
      <table class="table table-bordered">
        <thead class="table-secondary">
          <tr>
            <td>郵便番号</td>
            <td>住所</td>
            <td>宛名</td>
            <td></td>
          </tr>
        </thead>
        <tbody>
        <% @addresses.each do |address| %>
          <tr>
            <td><%= address.postal_code %></td>
            <td><%= address.address %></td>
            <td><%= address.name %></td>
            <td><%= link_to "編集する", edit_address_path(address), class: "btn btn-success" %> <%= link_to "削除する", address_path(address.id), method: :delete, class: "btn btn-danger", "data-confirm" => "本当に削除しますか？" %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<% end %>
