　<h2 class="bg-light m-4">注文履歴詳細</h2>

<div class="container">
  <div class="row align-items-start">
    <div class="col-6">
      <h4>注文情報</h4>
      <table class="table">
        <tr>
          <td>注文日</td>
          <td><%= @order.created_at %></td>
        </tr>
        <tr>
          <td>配送先</td>
          <td>
            〒<%= @order.postal_code %><br>
            <%= @order.address %><br>
            <%= @order.name %>
          </td>
        </tr>
        <tr>
          <td>支払方法</td>
          <td><%= @order.payment_method_i18n %></td>
        </tr>
        <tr>
          <td>ステータス</td>
          <td><%= @order.status_i18n %></td>
        </tr>
      </table>
    </div>
    <div class="col-4">
      <h4>請求情報</h4>
      <table class="table">
        <tr>
          <td>商品合計</td>
            <% @order_details.each do |order_detail| %>
              <% @sum += ((order_detail.item.price * 1.1).floor * order_detail.amount) %>
            <% end %>
          <td><%= @sum %></td>
        </tr>
        <tr>
          <td>配送料</td>
          <td><%= @order.postage %></td>
        </tr>
        <tr>
          <th>ご請求額</th>
          <td><%= @sum + @order.postage %></td>
        </tr>
      </table>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-8">
      <h4>注文内容</h4>
      <table class="table">
        <thead class="table-secondary">
          <tr>
            <td>商品</td>
            <td>単価(税込)</td>
            <td>個数</td>
            <td>小計</td>
          </tr>
        </thead>
        <tbody>
            <!--order_detailモデルから取り出すのではないだろうか？-->
        <% @order_details.each do |order_detail| %>
          <tr>
            <td><%= order_detail.item.name %></td>
            <td><%= (order_detail.item.price * 1.1).floor %></td>
            <td><%= order_detail.amount %></td>
            <td><%= ((order_detail.item.price * 1.1).floor * order_detail.amount) %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
