<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav>
        <div class="">
          <!--nagano_cakeのロゴが入るw-->
          <div class="">
            <ul>
              <li>
                <%= link_to "ジャンル一覧", admin_genres_path %>
              </li>
            </ul>
          </div>
        </div>
      </nav>

    </header>
    <main>
    <%= yield %>
    </main>
    <footer>

    </footer>
  </body>
</html>
